.header-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 2px solid #cecede;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white
}

.logo {
    font-weight: 800;
    ;
    font-size: 24px;
}

.cart-value {
    position: absolute;
    top: 14px;
    height: 15px;
    width: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    border-radius: 50%;
    color: white;
}